<div class = "wrapper">
  <div class = "side">
    <div class = "side-top">
      <div class = "side-name">
       <a href = "#">TOm</a>
       </div>
       <div class = "side-build">
        <a href = "#">チャットを作成する</a>
       </div>
    </div>

    <div class = "side-center">
      <div class = "room">
        <div class = "room-name">
          <a href = "#">techroom1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
          <a href = "#">techroom2</a>
        </div>
      </div>
    </div>
    
      <%= render "side_bar" %>
  </div>
  <div class = "chat">
    <div class = "chat-top">
    </div>
    <div class = "chat-center">
    </div>
    <div class = "chat-bottom">
    </div>
      <%= render "main_chat" %>
  </div>
</div>